:root {
    --pixel-size: 4px;
    --grid-cell: calc(var(--pixel-size) * 16);
    --bg: #000;
}


html,
body {
    height: 100%;
    overflow: hidden;
    margin: 0;
}

body {
    background:#000;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Frame for the game */
.frame {
    width: calc(var(--pixel-size) * 340);
    height: calc(var(--pixel-size) * 180);
    /* height: 100%;
    width: 100%; */
    outline: 5px solid #fff;
    position: relative;
    z-index: 1;
}

/* Game screen container */
.game-screen {
    width: calc(var(--pixel-size) * 340);
    height: calc(var(--pixel-size) * 180);
    /* height: 100%;
    width: 100%; */
    overflow: hidden;
    background: black;
    position: relative;
}

/* Contoh aturan CSS LAMA yang mungkin pernah ada */
.active-map {
  display: block; /* atau flex, grid, dll. */
}

.inactive-map {
  display: none;
}
